body{ 
    width: 50%;
    margin: auto;
    text-align: center;
    
}
h1{
    font-family: ballet;
    text-align: center;
   color: rgb(255, 0, 0);
   font-size: 50px;
    
}

h3{
     font-family: Kablammo;
    font-size: 20px;
    text-align: center;
    color: rgb(7, 0, 5);
    border-color: rgb(221, 20, 20);
}
li{
    text-align: center;
    display: inline-block;
    width:calc(100%/6);
    margin: auto;
    background-color:rgb(43, 23, 133);
    color: rgb(93, 194, 34);
}
ol{
    padding:0;
}


h2{
    font-family:kablammo;
    font-size:40px;
    text-decoration: underline 5px rgb(196, 141, 141);
}

article{
    text-align: center;
    width: 29%;
    display: inline-block;
    vertical-align: top;
      
}
section{
    
    width: 70%;

}
 img{
    width: 70%;
     
 }

  body {
            background-image: url('imagenes/champions.jpeg'); 
            color: var(--dark);
            background-repeat: no-repeat;
           
            background-size: cover;
        
        }
img:hover {
box-shadow: 10px 20px 30px color(srgb rgb(168, 54, 54) green blue);
transform: translateY(-5px);
}
p{
    color:rgb(0, 0, 0);
    border: 3px solid red;
    background-color: aqua;
}