html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    padding: 20px;
    color: #b6d1ec;
    background-color: #afafaf;
    background-image: url('imagenes/nuevo\ coliseum.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    
  
}
  body > a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 40px;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
     background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

h1:hover {
    transform: scale(1.02);
}

h2 {
    color: rgb(248, 211, 0);
    text-align: center;
    background-color: rgb(0, 102, 190);
    padding: 15px;
    border-radius: 8px;
}
img{
    border-color: white;
}
footer {
    text-align: center;
    margin-top: 60px;
    padding-top: 25px;
    border-top: 1px solid #e0e0e0;
    color: #ff9100;
    padding: 20px;
    background-color: rgba(49, 48, 66, 0.8);
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
.logos-ligas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding: 0;
}

footer:hover {
    background-color: rgba(49, 48, 66, 0.95);
}
p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin-top: 30px;
    list-style: none;
}
footer {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    border-top: 1px solid #e0e0e0;
    color: #ff9100;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    transition: background-color 0.3s ease;
    bottom: 0;
}
p a {
    text-decoration: none; 
    color: #e2b4da;       
    font-weight: bold;
}
.logos-ligas li {
    overflow: hidden; 
    border-radius: 8px; 
}


.logos-ligas img {
    display: block;
    transition: transform 0.4s ease; 
    cursor: pointer;
}


.logos-ligas li:hover img {
    transform: scale(1.1);
}


.logos-ligas li:hover {
    box-shadow: 0px 10px 20px rgba(0,0,0,0.5); 
}


@media (max-width: 420px){

body{
    margin:10px;
    padding:10px;
}

h1{
    font-size:26px;
    padding:15px;
}

h2{
    font-size:20px;
    padding:10px;
}

.logos-ligas{
    list-style:none;
    padding:0;
}

.logos-ligas img{
    width:100%;
    max-width:100%;
    height:auto;
}

body a img{
    width:30px;
}

footer{
    font-size:14px;
    padding:15px;
}

p{
    font-size:14px;
    text-align:center;
}

}

@media (min-width: 421px){

.logos-ligas{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;
}

.logos-ligas img{
    width:320px;
    height:auto;
}

}


