html {
  scroll-behavior: smooth;
 
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #ce08ff;
  color: #0080ff;
    
  background-image: url('imagenes/nuevo\ coliseum.jpg');
  background-size: cover;       
  background-position: center;  
  background-attachment: fixed; 
  background-repeat: no-repeat; 

  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
  padding: 20px;
  color: #212529;
}
h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #e2b4da;
  font-size: 40px;
  background-color: rgb(30, 29, 44);
}
h2{
    color:rgb(247, 211, 11);
    text-align: center;
    background-color: rgb(75, 82, 88);
}
footer {
  text-align: center;
  margin-top: 60px;
  padding-top: 25px;
  border-top: 1px solid #e0e0e0;
  color: #ff9100;
  font-size: 0.95em;
}
ol{
   display: flex;
  justify-content: center;
  gap: 70px;
  list-style: none;
  padding:40px;
  margin:auto;
  text-align: center;
}

img :hover{
box-shadow: 10px 20px 30px 20px red;
transform: translateY(-5px);
}
a:link{
    color: rgb(30, 128, 0);
}